<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      function CBR_XML_Daily_Ru(rates) {
        function trend(current, previous) {
          if (current > previous) return ' ▲'
          if (current < previous) return ' ▼'
          return ''
        }

        var USDrate = rates.Valute.USD.Value.toFixed(4).replace('.', ',')
        var USD = document.getElementById('USD')
        USD.innerHTML = USD.innerHTML.replace('00,0000', USDrate)
        USD.innerHTML += trend(
          rates.Valute.USD.Value,
          rates.Valute.USD.Previous
        )

        var EURrate = rates.Valute.EUR.Value.toFixed(4).replace('.', ',')
        var EUR = document.getElementById('EUR')
        EUR.innerHTML = EUR.innerHTML.replace('00,0000', EURrate)
        EUR.innerHTML += trend(
          rates.Valute.EUR.Value,
          rates.Valute.EUR.Previous
        )
      }
      function moneyConverter(valNum) {
        const render = (response) => {
          const { data } = response
          console.log(data)
          let outputUSD = document.getElementById('outputUSD')
          let outputEUR = document.getElementById('outputEUR')
          outputUSD = `<span>USD: ${(valNum / data.rates.USD).toFixed(
            4
          )}$</span>`
          outputEUR = `<span>EUR: ${(valNum / data.rates.EUR).toFixed(
            4
          )}€</span>`
          document.getElementById('outputUSD').innerHTML = outputUSD
          document.getElementById('outputEUR').innerHTML = outputEUR
          console.log(outputUSD)
        }
        axios.get('https://www.cbr-xml-daily.ru/latest.js').then(render)
      }
    </script>
    <link rel="dns-prefetch" href="https://www.cbr-xml-daily.ru/" />
    <script src="//www.cbr-xml-daily.ru/daily_jsonp.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--<script src="script.js"></script>-->
  </head>
  <body>
    <h2>Текущие курсы валют</h2>
    <div id="USD">1 Доллар США $ — 00,0000 руб.</div>
    <div id="EUR">1 Евро € — 00,0000 руб.</div>
    <h3>Конвертер валют</h3>
    <p id="data">
      <label>Введите сумму в рублях</label>
      <input
        type="number"
        id="input"
        placeholder="₽"
        oninput="moneyConverter(this.value)"
        onchange="moneyConverter(this.value)"
      />
    </p>
    <p id="outputUSD">USD:</p>
    <p id="outputEUR">EUR:</p>
  </body>
</html>